
<div class="container-fluid bg-container">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
           <div class="d-flex flex-row ">
                <p class="accountHolderName">Dileep Thotakura</p>
                <p class="accountType">Savings Account </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" class="dropDownIcon">
                    <path d="M6.22073 8.72051C6.09973 8.84151 5.90023 8.84151 5.77923 8.72051L2.02923 4.97051C1.90823 4.84951 1.90823 4.65001 2.02923 4.52901C2.15023 4.40801 2.34973 4.40801 2.47073 4.52901L6.00023 8.05851L9.52973 4.52901C9.65073 4.40801 9.85023 4.40801 9.97123 4.52901C10.0922 4.65001 10.0922 4.84951 9.97123 4.97051L6.22123 8.72051H6.22073Z" fill="white"/>
                </svg>
           </div>
             <p class="date">15th March 2024</p>
        </div>


        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row ">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item dashboard">Dashboard</li>
                      
                      <li class="breadcrumb-item active accountDetails" aria-current="page">Account Details</li>
                    </ol>
                  </nav>
            </div>
              <p class="account">Account Number: <span class="accountNumber">1234567890</span></p>
         </div>
    </div>
</div>

