<div class="container-fluid">
    <div class="bg-container">
          <div class="accountSummary d-flex flex-row">
            <p class="summaryheading">Account Summary</p>
          </div>
          <div class="accountDetails d-flex flex-row justify-content-between p-3">
               <div>
                    <p class="accountHeading">Account Holder Name</p>
                    <p class="accountValues">Thotakura Dileep</p>
                </div>
                <div>
                    <p class="accountHeading">Account Type</p>
                    <p class="accountValues">Savings Account</p>
                </div>
                <div>
                    <p class="accountHeading">Account Number</p>
                    <p class="accountValues">1234567890111213</p>
                </div>
                <div>
                    <p class="accountHeading">Account IFSC</p>
                    <p class="accountValues">ABCD0001234</p>
                </div>
                <div>
                    <p class="accountHeading">Available Balance in Rupees</p>
                    <p class="accountValues">1,81,680/-</p>
                </div>
                <div>
                    <p class="accountHeading">Account Branch</p>
                    <p class="accountValues">KPHB</p>
                </div>
                
          </div>
    </div>
</div>



