<div class="container-fluid bg-container">
    <div class="d-flex flex-row col-lg-12 col-md-12 col-sm-12">
      <div class="card savingsAccount">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="32"
              viewBox="0 0 56 32"
              fill="none"
              class="circleIcon"
            >
              <circle cx="16" cy="16" r="16" fill="#77F800" />
              <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
            </svg>
            <p class="accountType">Savings Account</p>
          </div>
          <div>
            <p class="accountNumber">1234 4567 8910 1112</p>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <p class="accountHolderName">Dileep Thotakura</p>
            <p class="date">02/11</p>
          </div>
        </div>
      </div>
      <div class="card loanAccount">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="32"
              viewBox="0 0 56 32"
              fill="none"
              class="circleIcon"
            >
              <circle cx="16" cy="16" r="16" fill="#77F800" />
              <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
            </svg>
            <p class="accountType">Loan Account</p>
          </div>
          <div>
            <p class="accountNumber">1234 4567 8910 1112</p>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <p class="accountHolderName">Dileep Thotakura</p>
            <p class="date">02/11</p>
          </div>
        </div>
      </div>
      <div class="card creditCard">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="32"
              viewBox="0 0 56 32"
              fill="none"
              class="circleIcon"
            >
              <circle cx="16" cy="16" r="16" fill="#77F800" />
              <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
            </svg>
            <p class="accountType">Credit Card</p>
          </div>
          <div>
            <p class="accountNumber">1234 4567 8910 1112</p>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <p class="accountHolderName">Dileep Thotakura</p>
            <p class="date">02/11</p>
          </div>
        </div>
      </div>
      <div class="card overDraftAccount">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="32"
              viewBox="0 0 56 32"
              fill="none"
              class="circleIcon"
            >
              <circle cx="16" cy="16" r="16" fill="#77F800" />
              <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
            </svg>
            <p class="accountTypeOverDraft">Over Draft Account</p>
          </div>
          <div>
            <p class="accountNumber">1234 4567 8910 1112</p>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <p class="accountHolderName">Dileep Thotakura</p>
            <p class="date">02/11</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
